/* Estilos para el menú */
.menu {
    background-color: #333; */fondo blanco del menú
    padding: 20px;
    border-radius: 10px; /* Añadimos bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añadimos sombra */
    overflow:hidden;
    margin-bottom: 20px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu ul li {
    display: inline-block;;
}
.menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.menu ul li a:hover {
    background-color: #ddd; /* Color de fondo al pasar el mouse */
    color: black; /* Cambio de color de texto al pasar el mouse */
}

/* Estilos para el contenido principal */
.contenido-principal {
    background: url(https://img.freepik.com/foto-gratis/fondo-oscuro-abstracto_1048-1920.jpg?size=338&ext=jpg&ga=GA1.1.117944100.1709596800&semt=ais) center top no-repeat;
    padding: 50px;
    text-align: center;
    color: white;
}
.contenido-principal {
     background-color: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente blanco */
     padding: 100px 0; /* Espaciado arriba y abajo  */
     color: #333; #cambia el color de la letra
}
.contenido-princi h1 { /*si lo quitas el texto se hace mas pequeño*/
     font-size: 36px;
     margin-bottom: 20px;
}
/* Estilos para la lista de elementos */
.lista-elementos {
    background-color: #cfe7f6; 
    background-size: cover;
    padding: 20px; /* Agregar un poco de espacio alrededor de la lista */ 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añadimos sombra */
}

.lista-elementos ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añadimos sombra */
}
.lista-elementos ul li {
    flex: 1 0 30%; /* Tres columnas en pantalla grande */
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añadimos sombra */
}

.elemento {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    border-radius: 10px; /* Esquinas redondeadas */
    background-color: white; /* Fondo blanco */
}

.elemento h3 {
    color: green; /* Color verde agua */
    text-decoration: none; /* Eliminar el subrayado del texto */
}

.elemento h3 a {
    text-decoration: none; /* Anular el subrayado de los enlaces dentro de los h3 */
    border-bottom: none; /* Eliminar el borde inferior */
}

.elemento img {
    max-width: 100%;
}
